{% extends "layout.html" %}
{% macro render_field(field) %}
  <div class="form-group">
    <label class="col-sm-1 control-label" for="name">{{ field.label }}</label>  
    <div class="col-sm-11">
      {{ field(class="form-control") | safe }}
    </div>
  </div>
{% endmacro %}
{% block body %}
<div class="row">
  <div class="col-md-12">
  <h2>Create dataset</h2>
    <form action="/raw/create" method="post" class="form-horizontal">
      {{ render_field(form.name) }}
      {{ render_field(form.radios) }}
      {{ render_field(form.darks) }}
      {{ render_field(form.flats) }}
      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-11">
          <button type="submit" class="btn btn-default">Create</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
