{% extends "layout.html" %}
{% macro render_field(field) %}
  <div class="form-group">
    <label class="control-label" for="name">{{ field.label }}</label>
      {{ field(class="form-control") | safe }}
  </div>
{% endmacro %}
{% block body %}
  <script>
$(document).ready(function() {
  $('#recoModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);
    var recoId = button.data('reco-id');
    $('#recoForm').attr('action', '/data/reconstruct/' + recoId);
    // $('#recoForm').attr('action', 'reco/1/map.jpg');
  });

  $('#recoSubmit').click(function() {
    $('#recoForm').submit();
  });

  $('#createSubmit').click(function() {
    $('#createForm').submit();
  });
});
  </script>
  <div class="row">
    <div class="col-md-12">
      <h3>Datasets</h3>
      <table class="table table-hover" data-sortable>
        <thead>
          <tr>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for dataset in datasets %}
          <tr>
            <td><a href="/data/{{ dataset.id }}">{{ dataset.name }}</a></td>
            <td>
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#recoModal" data-reco-id="{{ dataset.id }}"> <i class="fa fa-cogs"></i></button>
                <a class="btn btn-danger btn-sm" title="Remove" role="button" href="/data/delete/{{ dataset.id }}"><i class="fa fa-remove"></i></a>
            </div>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#createModal" title="Create dataset"><i class="fa fa-plus-square"></i></button>

      {% if recos %}
      <h3>Reconstructions</h3>
      <table class="table table-hover" data-sortable>
        <thead>
          <tr>
            <th>Actions</th>
            <th>Reconstaction</th>
            <th>Slice map</th>
            <th>Slices thumbs</th>
            <th>Dataset</th>
          </tr>
        </thead>
        <tbody>
        {% for reco in recos %}
          <tr ng-init="recoStillRunning({{ reco.id}}, {'reco_done': {{ "true" if reco.done == True else "false" }}, 'reco_has_error': {{ "true" if reco.has_error == True else "false" }}, 'slice_map_done': {{ "true" if reco.maps_slices[0].done == True else "false" }} , 'slice_map_has_error': {{ "true" if reco.maps_slices[0].has_error == True else "false"}}, 'slices_thumbs_done': {{ "true" if reco.slices_thumbs[0].done == True else "false" }} , 'slices_thumbs_has_error': {{ "true" if reco.slices_thumbs[0].has_error == True else "false"}} })">
            <td>
              <div class="btn-group" role="group" aria-label="..." >
                <a ng-disabled="loading.reco_{{reco.id}}_show_slides" class="btn btn-default btn-sm" title="Info"     role="button" href="/reco/{{ reco.id }}/browse"> <i class="fa fa-file-image-o"></i></a>
                <a ng-disabled="loading.reco_{{reco.id}}_render"      class="btn btn-default btn-sm" title="Info"     role="button" href="/reco/{{ reco.id }}/render"> <i class="fa fa-eye"></i></a>
                <a ng-disabled="loading.reco_{{reco.id}}_open_info"   class="btn btn-default btn-sm" title="Info"     role="button" href="/reco/{{ reco.id }}">        <i class="fa fa-info-circle"></i></a>
                <a ng-disabled="loading.reco_{{reco.id}}_load_slide"  class="btn btn-default btn-sm" title="Download" role="button" href="/reco/{{ reco.id }}.tif">    <i class="fa fa-download"></i></a>
                <a ng-disabled="loading.reco_{{reco.id}}_delete"      class="btn btn-default btn-sm" title="Remove"   role="button" href="/reco/delete/{{ reco.id }}"> <i class="fa fa-remove"></i></a>

              </div>
            </td>
            
            <td>
              <div ng-show="loading.reco_{{ reco.id }}_reconstruction_with_error" class="fa ng-hide" style="position: absolute;">
                <i class="fa fa-warning"></i>
              </div>
              <div ng-show="loading.reco_{{ reco.id }}_reconstruction_is_done" class="fa ng-hide" style="position: absolute;">
                <i class="fa fa-check-square"></i>
              </div>
              <div ng-show="loading.reco_{{ reco.id }}_reconstruction_going" class="ng-hide" style="position: absolute;">
                <img src="{{ url_for('static', filename='img/spinner.gif') }}"/>
              </div>
            </td>
            
            <td>
              <div ng-show="loading.reco_{{ reco.id }}_slice_map_creation_with_error" class="fa ng-hide" style="position: absolute;">
                <i class="fa fa-warning"></i>
              </div>
              <div ng-show="loading.reco_{{ reco.id }}_slice_map_creation_is_done" class="fa ng-hide" style="position: absolute;">
                <i class="fa fa-check-square"></i>
              </div>
              <div ng-show="loading.reco_{{ reco.id }}_slice_map_creation_going" class="ng-hide" style="position: absolute;">
                <img src="{{ url_for('static', filename='img/spinner.gif') }}"/>
              </div>

            </td>

            <td>
              <div ng-show="loading.reco_{{ reco.id }}_slices_thumbs_creation_with_error" class="fa ng-hide" style="position: absolute;">
                <i class="fa fa-warning"></i>
              </div>
              <div ng-show="loading.reco_{{ reco.id }}_slices_thumbs_creation_is_done" class="fa ng-hide" style="position: absolute;">
                <i class="fa fa-check-square"></i>
              </div>
              <div ng-show="loading.reco_{{ reco.id }}_slices_thumbs_creation_going" class="ng-hide" style="position: absolute;">
                <img src="{{ url_for('static', filename='img/spinner.gif') }}"/>
              </div>

            </td>
            
            <td ng-app ng-init="running=1">
              {% if reco.dataset %}
                <a href="/data/{{ reco.dataset.id }}">{{ reco.dataset.name }}</a>
              {% else %}
                deleted
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
  </div>

  <div class="modal fade" id="recoModal" tabindex="-1" role="dialog" aria-labelledby="recoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="recoModalLabel">Parameters</h4>
        </div>
        <div class="modal-body">
          <form id="recoForm" action="#" method="post">
            <div class="form-group">
              <label for="axis" class="control-label">Axis:</label>
              <input type="number" class="form-control" id="axis" name="axis" value="">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" id="recoSubmit">Reconstruct</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="createModalLabel">Create dataset</h4>
        </div>
        <div class="modal-body">
          <form id="createForm" action="/data/create" method="post">
            {{ render_field(create_form.name) }}
            {{ render_field(create_form.radios) }}
            {{ render_field(create_form.darks) }}
            {{ render_field(create_form.flats) }}
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" id="createSubmit">Create</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
