{% extends "layout.html" %}
{% block body %}
  <script>
$(document).ready(function() {
  $('#recoModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);
    var recoId = button.data('reco-id');
    $('#recoForm').attr('action', '/raw/reconstruct/' + recoId);
  });

  $('#recoSubmit').click(function() {
    $('#recoForm').submit();
  });
});
  </script>
  <div class="row">
    <div class="col-md-12">
      <h3>Datasets</h3>
      <table class="table table-hover" data-sortable>
        <thead>
          <tr>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for dataset in raw_datasets %}
          <tr>
            <td><a href="/raw/show/{{ dataset.id }}">{{ dataset.name }}</a></td>
            <td>
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#recoModal" data-reco-id="{{ dataset.id }}"> <i class="fa fa-cogs"></i></button>
                <a class="btn btn-default btn-sm" title="Edit" role="button" href="/raw/edit/{{ dataset.id }}"><i class="fa fa-pencil-square-o"></i></a>
                <a class="btn btn-danger btn-sm" title="Remove" role="button" href="/raw/delete/{{ dataset.id }}"><i class="fa fa-remove"></i></a>
            </div>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <p><a class="btn btn-default" href="/raw/create" title="Add raw dataset"><i class="fa fa-plus-square"></i></a></p>

      {% if recos %}
      <h3>Reconstructions</h3>
      <table class="table table-hover" data-sortable>
        <thead>
          <tr>
            <th>Actions</th>
            <th>Status</th>
            <th>Dataset</th>
          </tr>
        </thead>
        <tbody>
        {% for reco in recos %}
          <tr>
            <td>
              <div class="btn-group" role="group" aria-label="...">
                <a ng-disabled="loading.reco_{{ reco.id }}" class="btn btn-default btn-sm" title="Info" role="button" href="/reco/show/{{ reco.id }}"><i class="fa fa-info-circle"></i></a>
                <a ng-disabled="loading.reco_{{ reco.id }}" class="btn btn-default btn-sm" title="Download" role="button" href="/reco/download/{{ reco.id }}"><i class="fa fa-download"></i></a>
                <a ng-disabled="loading.reco_{{ reco.id }}" class="btn btn-danger btn-sm" title="Remove" role="button" href="/reco/delete/{{ reco.id }}"><i class="fa fa-remove"></i></a>
              </div>
            </td>
            <td>
              {% if reco.done %}
              <i class="fa fa-check-square"></i>
              {% else %}
              <div ng-init="stillRunning({{ reco.id }})">
                <i ng-hide="loading.reco_{{ reco.id }}" class="fa fa-check-square ng-hide"></i>
                <img ng-show="loading.reco_{{ reco.id }}" src="{{ url_for('static', filename='img/spinner.gif') }}"/>
              </div>
              {% endif %}
            </td>
            <td ng-app ng-init="running=1">
              {% if reco.raw %}
                <a href="/raw/show/{{ reco.raw.id }}">{{ reco.raw.name }}</a>
              {% else %}
                deleted
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
  </div>

  <div class="modal fade" id="recoModal" tabindex="-1" role="dialog" aria-labelledby="recoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="recoModalLabel">Parameters</h4>
        </div>
        <div class="modal-body">
          <form id="recoForm" action="#" method="post">
            <div class="form-group">
              <label for="axis" class="control-label">Axis:</label>
              <input type="number" class="form-control" id="axis" name="axis" value="">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" id="recoSubmit">Reconstruct</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
