<!doctype html>
<html ng-app="TofuApp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" style="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" style="text/css" href="{{ url_for('static', filename='bower_components/fontawesome/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" style="text/css" href="{{ url_for('static', filename='css/bootstrap_slider.css') }}" />
    <link rel="stylesheet" style="text/css" href="{{ url_for('static', filename='css/custom.css') }}" />
    
    <script src="{{ url_for('static', filename='bower_components/angular/angular.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap_slider.js') }}"></script>
    
    <script src="{{ url_for('static', filename='js/tofu.js') }}"></script>
    <title>Tofu</title>
  </head>
  <body ng-controller="TofuController">

    <nav class="navbar navbar-default">
      <div class="container">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/"><span style="font-weight: bold;">TOFU</span></a>
              <ul class="nav navbar-nav">
                <li><a href="/">Data</a></li>
                <li><a href="/">Reconstructions</a></li>
              </ul>
            </div>
          </div>
      </div>
    </nav>

    <div class="container">
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
