{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="col-md-12">
    <div id="volume-container"></div>

    <script src="{{ url_for('static', filename='js/three.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/STLLoader.js') }}"></script>
    <script src="{{ url_for('static', filename='js/OrbitControls.js') }}"></script>
    <script>

      var camera, controls, scene, renderer, cameraTarget;

      init();
      animate();

      function animate() {
        requestAnimationFrame(animate);
        controls.update()
      }

      function init () {
	    scene = new THREE.Scene();
        camera = new THREE.PerspectiveCamera(35, 800 / 600, 1, 15);
        renderer = new THREE.WebGLRenderer();

        camera.position.set(3, 0.15, 3);
        cameraTarget = new THREE.Vector3(0, -0.25, 0);

        controls = new THREE.OrbitControls(camera);
        controls.damping = 0.2;
        controls.addEventListener('change', render);

        scene.fog = new THREE.Fog(0x72645b, 2, 15);
        scene.add(new THREE.AmbientLight(0x777777));

        renderer.setClearColor(0xffffff);
        renderer.setSize(800, 600);

        addShadowedLight(1, 1, 1, 0xffffff, 1.35);
        addShadowedLight(0.5, 1, -1, 0xffaa00, 1);

        document.getElementById('volume-container').appendChild(renderer.domElement);

        var loader = new THREE.STLLoader();
        var material = new THREE.MeshPhongMaterial({ ambient: 0x555555, color: 0xAAAAAA, specular: 0x111111, shininess: 200 } );

        loader.load('../{{ dataset.id }}/volume.stl', function (geometry) {
          var mesh = new THREE.Mesh(geometry, material);

          mesh.position.set(0, 0, 0);
          mesh.scale.set(2, 2, 2);

          mesh.castShadow = true;
          mesh.receiveShadow = true;

          scene.add(mesh);
        });

        animate();
      }

      function addShadowedLight(x, y, z, color, intensity) {
        var directionalLight = new THREE.DirectionalLight(color, intensity);
        directionalLight.position.set(x, y, z)
        scene.add(directionalLight);

        directionalLight.castShadow = true;

        var d = 1;
        directionalLight.shadowCameraLeft = -d;
        directionalLight.shadowCameraRight = d;
        directionalLight.shadowCameraTop = d;
        directionalLight.shadowCameraBottom = -d;

        directionalLight.shadowCameraNear = 1;
        directionalLight.shadowCameraFar = 4;

        directionalLight.shadowMapWidth = 1024;
        directionalLight.shadowMapHeight = 1024;

        directionalLight.shadowBias = -0.005;
        directionalLight.shadowDarkness = 0.15;
      }

      function render() {
        renderer.render(scene, camera);
      }

    </script>
  </div>
</div>
{% endblock %}

